stages:
  - test

variables:
  MONGODB_URL: "mongodb://admin:password@localhost:27017"
  MONGO_DB_NAME: "Database"
  ENVIRONMENT: "test"
  PYTHONPATH: "${CI_PROJECT_DIR}"

.test-template: &test-template
  stage: test
  image: python:${PYTHON_VERSION}
  services:
    - name: mongo:6.0
      alias: mongodb
      variables:
        MONGO_INITDB_ROOT_USERNAME: admin
        MONGO_INITDB_ROOT_PASSWORD: password
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - echo "MONGODB_URL: $MONGODB_URL"
    - echo "MONGO_DB_NAME: $MONGO_DB_NAME"
    - echo "Testing connection..."
    - python mongo-init/initialize_mongo.py
    - pytest tests/ --cov=app --cov-report=xml --cov-report=html -v
    - pip install pylint
    - pylint app/ --fail-under=7.0 --disable=W1203,W0105
  after_script:
    - echo "Cleaning up..."
  artifacts:
    paths:
      - coverage_html/
      - coverage.xml
    when: always
    name: "test-results-python-$PYTHON_VERSION"
  only:
    refs:
      - main
      - master
      - merge_requests

test-python-3.10:
  <<: *test-template
  variables:
    PYTHON_VERSION: "3.10"

test-python-3.11:
  <<: *test-template
  variables:
    PYTHON_VERSION: "3.11"
