stages:
  - lint
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - venv/

test:
  stage: test
  image: python:3.11-slim
  before_script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - pytest tests/ --cov=app --cov-report=xml --cov-report=html -v
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    paths:
      - coverage_html/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    when: always
  only:
    - merge_requests
    - main
    - develop

lint:
  stage: lint
  image: python:3.11-slim
  script:
    - pip install pylint
    - pylint app/ --fail-under=7.0 --disable=W1203,W0105
  allow_failure: true