name: git_repository
services:
  fastapi:
    container_name: DatabaseAPI 
    build:
      context: ./
      dockerfile: Dockerfile 
    ports:
      - '8001:8001'
    restart: always
    depends_on:
      - mongo_db

  mongo_db:
    image: mongo:latest
    container_name: mongoDB
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: Database
    volumes:
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
      - mongo-data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  mongo-data:
    driver: local
